# Python
*.pyc
__pycache__/
venv/
*.pyo
*.pyd

# Project files
config.yaml
schedule.csv

settings.toml
settings.toml.backup.*

# Flask
instance/
.webassets-cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment
.env
.env.*
