[Unit]
Description=Trasmitter scheduler editor
After=network.target

[Service]
WorkingDirectory=/opt/transmitter
ExecStart=/usr/bin/gunicorn --workers 3 --bind [::]:80 editor:app

[Install]
WantedBy=multi-user.target
