<!DOCTYPE html>
<html>
<head>
    <title>Radio Control Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='remote/css/style.css') }}">
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
</head>
<body>
    <div id="statusBar">
        <span id="statusRadio">Radio: --</span>
        <span id="statusConn">Status: Offline</span>
    </div>

    <div class="content">
        <label for="radioSelect">Select Radio:</label>
        <select id="radioSelect" onchange="selectRadio()">
            <option disabled selected>-- choose --</option>
        </select>

        <hr>
        <p>Mode: <span id="modeValue">--</span> (<span id="bandwidthValue">--</span>)</p>
        <p>Frequency: <span id="freq">--</span></p>
        <p>PTT Status: <span id="ptt">--</span></p>
        <p>Signal Strength:</p>
        <div class="s-meter">
            <div class="s-meter-bar-mask" id="sMeterMask"></div>
            <div class="s-meter-bar-cover" id="sMeterCover"></div>
        </div>

        <h3>Subtones</h3>
        <p>CTCSS: <span id="ctcssValue">--</span></p>
        <p>DCS: <span id="dcsValue">--</span></p>

        <button id="pttPushBtn">Push to Talk</button>
        <button id="pttToggleBtn" onclick="togglePTT()">Toggle PTT</button>

    </div>

    <script src="{{ url_for('static', filename='remote/js/app.js') }}"></script>    
</body>
</html>
